*{
    margin: 3;
    padding: 0;}
body {
    background-image: url(New\ folder/2.jpg);
    background-position:center;
    background-size:cover; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
} .registerform {
    background-color: rgb(0,0,0,0.59);
    width: 800px;
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px;
    text-align: center;
    border-radius: 15px 0px 0px;
} .container {
    background-color: rgb(0,0,0,0.45);
    width: 800px;
    margin:auto;
    border-radius: 15px 0px;
}  form {
    padding:10 px;
} .input-inbox {
    width: 100%;
    height: 75px;
} .name {
    margin-left: 50px;
    margin-top: 30px;
    width: 125px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 400;
} .firstname {
    position:relative;
    left:150px;
    top:-40px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size: 16px;
}  .lastname {
    position:relative;
       left:200px;
       top:-40px;
       line-height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size: 16px;
       color:#555;
} .company {
    position:relative;
       left:150px;
       top:-40px;
       line-height:40px;
       width: 550px;
       border-radius:6px;
       padding:0 22px;
       font-size: 16px;
} .email {
    position:relative;
       left:150px;
       top:-40px;
       line-height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size: 16px;
}  .area {
    position:relative;
       left:150px;
       top:-40px;
       width: 86px;
       line-height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size: 16px;
}  .phone {
    position:relative;
       left:200px;
       top:-40px;
       width: 401px;
       line-height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size: 16px;
       color:#555;
} .option {
    position:relative;
       left:101px;
       top:-35px;
       height: 40px;
       width: 550px;
       border-radius:6px;
       padding:0 22px;
       font-size: 16px;
       color:#555;
} #customer {
    margin: 25px;
    color: whitesmoke;
    font-size: 18px;
} .radio {
    display: inline-block;
    padding-right: 70px;
    font: 25px;
    margin-left: 20px;
    margin-top: -15px;
    color: whitesmoke;
} .radio input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline:none;
} .button {
    background-color: rgb(223, 238, 241);
    display: block;
    width: 100px;
    height: 40px;
    margin:-32px 575px;
    text-align: center;
    border-radius: 15px;
    border:2px solid #3f6977;
    outline: none;
    color:rgb(129, 127, 127);
    cursor: pointer;
    transition: 0.25px;
} button:hover {
    background-color: #203336;
}


